<div class="container">
  <mat-toolbar>
    <button class="botao_menu" (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sala Virtual</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <ul>
        <li>
          <a routerLink="#" (click)="navegarParaSala()">Sala</a>
        </li>
      </ul>
    </mat-drawer>

    <div *ngIf="exibirImagem" class="content-container">
      <img src="/salaVirtual.jfif" alt="angula" />
      <div class="descricao">
        <h3>Sala Virtual</h3>
        <p>
          Bem-vindo à nossa Sala Virtual de Anotações, uma plataforma inovadora que transforma a forma como alunos e professores compartilham e acessam conteúdo educacional. Este projeto foi desenvolvido para criar um espaço colaborativo onde todos os membros da turma podem contribuir e acessar anotações de aulas de maneira simples e eficiente.
        </p>
        <h4>Funcionalidades Principais:</h4>
        <ul>
          <li><strong>Caderno Público:</strong> Todos os alunos têm acesso às anotações feitas durante as aulas, permitindo que aqueles que não puderam estar presentes possam acompanhar o conteúdo facilmente.</li>
          <li><strong>Criação de Salas e Conteúdos:</strong> Professores têm a liberdade de criar salas de aula virtuais e adicionar conteúdos específicos, personalizando a experiência de aprendizado de acordo com as necessidades da turma.</li>
          <li><strong>Acesso Universal:</strong> Com a crescente presença da tecnologia nas salas de aula, nosso projeto visa atender tanto os alunos que possuem acesso à internet quanto aqueles que não têm. As anotações são armazenadas online, eliminando a necessidade de cadernos físicos e facilitando o acesso a qualquer hora e em qualquer lugar.</li>
        </ul>
        <div class="projeto">
        <h4>Por que este projeto?</h4>
        <p>
          O mundo da educação está mudando rapidamente, e a digitalização é uma parte essencial desse processo. Observando que muitos alunos, tanto de graduação quanto do ensino básico, enfrentam dificuldades com o acesso ao material escolar, decidimos criar uma solução que não apenas moderniza o aprendizado, mas também promove a inclusão e a colaboração.
        </p>
        <p>
          Nosso objetivo é preparar os alunos para um futuro onde o ensino digital será ainda mais presente, garantindo que todos tenham as ferramentas necessárias para aprender e prosperar.
        </p>
        </div>
      </div>

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>

