<mat-card>
  <mat-card-header>
    <mat-card-title>{{ disciplina }}</mat-card-title>
    <mat-card-subtitle>{{ conteudo }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="chat-container">
    <div class="mensagens">
      <div
        class="mensagem-balao"
        *ngFor="let msg of mensagensEnviadas; let i = index"
        [ngClass]="{ 'mensagem-enviada': true }"
      >
        <p>{{ msg }}</p>
      </div>
    </div>

    <div class="entrada-mensagem">
      <mat-form-field appearance="fill" class="input-mensagem">
        <mat-label>Mensagem</mat-label>
        <input
          matInput
          [(ngModel)]="mensagem"
          placeholder="Digite sua mensagem aqui..."
        />
      </mat-form-field>
      <button mat-button (click)="enviarMensagem()">
        <p>
        ENVIAR
        </p>
      </button>
    </div>
  </mat-card-content>
</mat-card>
